@import "tailwindcss";

@font-face {
  font-family: "Maison Neue";
  src: url("/font/fonnts.com-Maison_Neue_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/font/fonnts.com-Maison_Neue_Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/font/fonnts.com-Maison_Neue_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Mono";
  src: url("/font/fonnts.com-Maison_Neue_Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-mamyuk-primary: #00aa13;
  --color-mamyuk-light: #319615;
  --color-mamyuk-danger: #ff0000;
  --color-mamyuk-warning: #ffa500;
  --color-mamyuk-info: #17a2b8;
  
  --font-family-sans: "Maison Neue", sans-serif;
  --font-family-mono: "Maison Neue Mono", monospace;
}

body {
  font-family: var(--font-family-sans);
}